body{
    font-family: 'Special Elite', cursive;
    background-image: url(" https://raw.githubusercontent.com/Juan254/imgRetos/main/batBackground.jpg");
    background-repeat: repeat; 
}

div[class="container"]{
    background-color: gold;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0.5%;
}


/* Inicio css del header y el carrusel */


header{    
    font-family: 'Special Elite', cursive;
    color: white;    
}

div[id="carousel"]{
    box-shadow: 0px 7px 4px black;
}

div[class="carousel-caption d-none d-md-block"]>h5{
    color: #d10f0c;
    font-weight: bolder;
    font-size: xx-large;
}

nav>h1[class="image-text"]{
    font-family: 'Creepster', cursive;
}

.nav-item>a{
    font-family: 'Creepster', cursive;
    font-size: x-large;
}

.nav-link{
    color: white;
    
}
.nav-link:hover{
    color: #d10f0c;
}

.carousel-item>p{
    color: red;
}

/*  Fin css del header y el carrusel*/

/* Incio css Servicios */

div[class="card"], div[class="card h-100"]{
    background-color: black;
    border-radius: 8px;
    box-shadow: 5px 8px 5px black;
}

div[class="card-body d-flex flex-column"]>p, div[class="card-body d-flex flex-column"]>h5{
    color: whitesmoke;
    text-align: justify;
}

div[class="card-body d-flex flex-column"]>h5{
    font-family: 'Creepster', cursive;
    text-align: center;
}

img[class="card-img-top"]{
    background-color: #33182e;
    height: 200px;
}

div[class="card-body d-flex flex-column"]>hr { 
    border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0; 
}

div[class="card-body d-flex flex-column"]>a{
    background-color: darkred;
}

div[class="card-body d-flex flex-column"]>a:hover{
    background-color: tomato;
}
/* Fin css servicios */

/* Inicio css del Team */
div[class="card h-100"]{
    font-family: 'Special Elite', cursive;
}

div[class="card h-100"]>div[class="card-body"]>h5{
    color: red;
}

div[class="card h-100"]>div[class="card-body"]>h6{
    color: tomato;
}

div[class="card h-100"]>div[class="card-body"]>p{
    color: white;
}

div[class="card h-100"]>div[class="card-body"]p{
    font-size: 10px;
}

/* Fin Css del team */


/* Inicio css Footer */
footer[class="container mt-3"]{
    background-color: gold;

    padding-top: 2%;
}

div[id="copyright"]{
    background-color: rgb(194, 166, 11);
    font-weight: bold;
    padding: 1% 0 1% 0;
    margin-bottom: 0;
}

h5[class="tituloFooter"]{
    font-weight: bold;
}

.link:link{
    color: rgb(184, 18, 18);
}

.link:visited {
   color: darkred;
}

.link:hover {
    color: white;
}

.link:active {
    color: tomato;
}

/* CSS BOTÓN INICIO */

#miBoton {
    display: none;/* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color:orange; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 48%; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    border-color: black;
    box-shadow: 2px 4px 3px black;
    height: 70px;
    width: 70px;
}
 
#miBoton>img{
    height: 100%;   
}
  #miBoton:hover {
    background-color:darkred;/* Add a dark-grey background on hover */
}